*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    color: #000000;
}
.profile{
    width: 1200px;
    margin: 95px auto;
}
.news-profile{
    width: 1000px;
    margin: 45px auto;
}
.news-profile img{
    display: block;
    width: 320px;
    height: 200px;
}
.news-profile p{
    width: 320px;
}
.news-profile a{
    color: rgb(51,51,51);
}
.news{
    width: 333px;
    height: 320px;
}