*{
    margin: 0;
    padding:0;
}
a{
    text-decoration: none;
}
nav{
    width: 1200px;
    height: 73px;
    margin:0 auto;
}
nav img{
    width: 157px;
    height: 58px;
    display: block;
    float: left;
    margin-top:18px;
    margin-left: 30px;
}
#nav{
    float: right;
    height: 100%;
    list-style: none;
}
#nav li{
    float: left;
    width: 100px;
    height: 100%;
}
#nav li a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 73px;
    text-decoration: none;
    font-size: 16px;
    color:rgb(102, 102, 102) ;
    text-align: center;
}
#nav li:hover a{
    background: #47558a;
    color: #FFFFFF;
}
#carousel{
    width: 100%;
    min-width: 1200px;
    height: 589px;
    position: relative;
}
#carousel img{
    position: absolute;
}
.carousel1{
    display: block;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 100%;
}
.carousel2,.carousel3{
    z-index: 2;
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
}
.left,.right{
    display: block;
    position: absolute;
    top:255px;
    z-index: 3;
}
.left{
    left: 1.2%;
}
.right{
    right: 1.2%;
}
.cut{
    position: absolute;
    top: 562px;
    left: 49.7%;
    z-index: 3;
    display: block;
}
#industry{
    margin-top: 60px;
    min-width: 1200px;
    position: relative;
}
.title{
    display: block;
    margin:0 auto;
}
.background{
    margin-top: 40px;
    width: 100%;
    min-width:1200px;
    display: block;
}
.module{
    position: absolute;
    top: 80%;
    left: 50%;
    margin-left:-500px;
    z-index: 5;
}
.module-background{
    float: left;
    width: 333px;
    height: 230px;
    text-align: center;
    background-repeat: no-repeat;
}
#module-background1{
    background: url("../img/整体背景图.png");
}
#module-background2{
    background: url("../img/整体背景图2.png");
}
#module-background3{
    background: url("../img/整体背景图3.png");
}
#module-background1:hover{
    background: url("../img/变色1.png");
}
#module-background2:hover{
    background: url("../img/变色2.png");
}
#module-background3:hover{
    background: url("../img/变色3.png");
}
#news{
    clear: both;
    width: 100%;
    min-width: 1200px;
    margin: 240px auto 0 auto;
}
#news-introduce{
    width:1000px;
    margin: 40px auto;
}
#news-introduce img{
    display: block;
    width: 320px;
    height: 200px;
}
#news-introduce p{
    width: 320px;
}
#news-introduce a{
    color: rgb(51,51,51);
}
.news-left,.news-title,.news-right {
    margin-top: 16px;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    color: rgb(51, 51, 51);
    text-align: left;
}
.news-left{
    width:333px;
    float: left;
}
.news-middle{
    width:333px;
    float: left;
    margin: 16px auto 0 auto;
}
.news-right{
    width:333px;
    float: right;
}
.news-text{
    margin-top: 8px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    font-family: "Microsoft YaHei";
    color: rgb(51, 51, 51);
    text-align: left;
}
.news-date{
    margin-top: 33px;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    color: rgb(51, 51, 51);
    text-align: left;
}
.value{
    padding-top: 80px;
    width: 100%;
    min-width: 1200px;
    display: block;
}
#about{
    margin: 60px auto 0 auto;
    width: 100%;
    min-width: 1200px;
}
#about p{
    height: 27px;
    line-height: 27px;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    color: #333333;
}
#bottom-nav{
    margin: 26px auto;
    width: 1200px;
    height: auto;
}
.first-ul{
    list-style: none;
    margin-left: 20px;
    float: left;
    display: block;
}
.first-ul>li{
    width: 115px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    color: rgb(51, 51, 51);
    font-weight: bold;
    float: left;
    text-align: left;
    display: block;
}
.second-ul{
    list-style: none;
    display: block;
}
.second-ul>li a{
    font-size: 14px;
    font-family: "Microsoft YaHei";
    color: rgb(136, 136, 136);
    font-weight: normal;
}
#address{
    float: right;
    margin-right: 10px;
    text-align: left;
}
#address p{
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    color: rgb(136, 136, 136);
    font-weight: normal;
}
footer{
    width: 100%;
    min-width: 1200px;
    height: 67px;
    margin-top: 45px;
    background: #000000;
}
footer p{
    width: 1000px;
    height: 67px;
    line-height: 67px;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
}
